.logo-container {
    z-index: 0;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 5%;
    left: 47%;
    margin: auto;
    opacity: 0;
    
    .solid-logo {
        position: absolute;
        top:auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        z-index: 1;
    }
}
