.languages-container {
    position: absolute;
    left: 50%;
    right: 0px;
    width: 50%;
    height: 100%;


    .wrapper {
        width: calc(100% - 30px);
        margin: 15px auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
        
        

        div {
            border: 2px solid #ffd700;
            height: 250px;
            border-radius: 3%;
        }
    }
}