.skills-page{
    position: relative;

    .skills{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .skill-container {
            div {
                border: 2px solid #ffd700;
                border-radius: 7px;
                width: calc(100% - 20px); 
                height: 50px;
                margin: 20px auto;



                font-size: large;
                color: #ffd700;

                cursor: pointer;
                animation: fadeInUp 1.5s 1s;
                animation-fill-mode: forwards;
                opacity: 0;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
}
}

@media (max-width: 576px) {
    .skills-page{
        position: static;
        left: auto;
        margin-top: 75px;

        display: flex;
        flex-direction: column;

        .text-zone {
            top: 30%;
        }
    }

}