<<<<<<< HEAD
.nav-bar{
    height: 60px;
    background-color: rgb(49, 49, 49);
    z-index: 5;
=======
.nav-bar{
    height: 60px;
    background-color: rgb(49, 49, 49);
    z-index: 5;
>>>>>>> 0eb1d331a829727bb70b9e1abc2563e999ca5d09
}